/*#region main.html*/
.project
{
    display: flex;
    flex-direction: column;
}
.row
{
    display: flex;
    flex-direction: row;
    width: 80vh;
}
.project
{
    margin: 5px;
    width: 50%;
    align-items: center;
    text-align: center;
}
.project-link
{
    text-decoration: none;
}
/*#endregion*/

/*#region page-stuff*/
.page-background
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.page-unbounded
{
    width: 80vw;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(44, 44, 44, 0.329) ;
    aspect-ratio: 210/297;
    padding: 20mm

}
/* #endregion */
.title
{
    font-size: 30;
    font-weight: bold;
    border-bottom: solid black 1px;

}