/*#region main.html*/
.project
{
    display: flex;
    flex-direction: column;
}
.row
{
    display: flex;
    flex-direction: row;
    width: 80vh;
}
.project 
{
    margin: 5px;
    width: 50%;
    align-items: center;
    text-align: center;
}
.project-link
{
    text-decoration: none;
}

.project-list
{
    display: flex;
    flex-direction: column;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    min-height: 100vh;

}
/*#endregion*/

/*#region page-stuff*/
.page-background
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.page-unbounded
{
    width: 80vw;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(44, 44, 44, 0.329) ;
    aspect-ratio: 210/297;
    padding: 20mm;
    display: flex;
    flex-direction: column;

}
/* #endregion */
.title
{
    font-size: 30;
    font-weight: bold;
    border-bottom: solid black 1px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 1px  rgba(44, 44, 44, 0.452) ;
}

.title-h2
{
    font-size: medium;
    font-weight: bold;
    border-bottom: solid black 1px;
    box-shadow: 0px 1px 1px  rgba(44, 44, 44, 0.027) ;
}
/* #region navbar */
.nav-bar
{
    display: flex;
    flex-direction: row;
    min-width: 95vw;
    border: solid black 1px;
    height: 3vh;
    padding-left: 3vw;
    align-items: center;
}
.nav-bar > .left
{
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    width: 50%;
}
.nav-bar > .right
{
    display: flex;
    align-items: right;
    justify-content: right;
    text-align: right;
    align-self: right;
    width: 50%;
    border: solid red 1px;
    padding-right: 3vw;
}
.underbar
{
    display: flex;
    align-items: right;
    border: solid black 1px;
    justify-content: right;
    min-height: 3vh;
}
.right > a
{
    display: inline-block;
    text-decoration: none;
    color: black;
}
.right > button:hover
{
    cursor: pointer;
    text-decoration: underline;
}
.right > a:hover
{
    text-decoration: underline;
}
.right > button
{
    height: 95%;
    background-color: white;
    border: none
}
.dropdown
{
    position: relative;
    display: none;
}
#projects-dropdown
{
    display: block;
}
/* #endregion */
#index
{
    display: flex;
    flex-direction: column;
    width: 95vw;
}
.unstyled-list
{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}